<form action="/add" method="POST" class="dessertForm">
  <fieldset>
    <legend>Dessert</legend>
    <label for="name">Dessert Name</label>
    <input
      type="text"
      id="name"
      name="name"
      value="<%= locals.params && locals.params.name %>"
      required
    />
    <label for="price">Price</label>
    <input
      type="text"
      id="price"
      name="price"
      value="<%= locals.params && locals.params.price %>"
      required
    />
    <label for="description">Description</label>
    <textarea name="description" id="description">
<%= locals.params && locals.params.description %></textarea
    >
    <label for="imageurl">Image Link</label>
    <input
      type="text"
      name="imageurl"
      id="imageurl"
      value="<%= locals.params && locals.params.imageurl %>"
    />
  </fieldset>
  <fieldset>
    <legend>Categories</legend>
    <% categories.forEach(category => { %> 
    <input type="checkbox"
          name="categories[]" 
          id="category<%= category.id %>" 
          value="<%= category.id%>" 
          <%= locals.params && locals.params.categoriesIds.has(category.id) ? "checked" : "" %> 
    />
    <label for="category<%= category.id %>"><%= category.name %></label>
    <% }); %>
  </fieldset>
  <button type="submit">Add new dessert</button>
</form>
